* {
    text-align: center;
    background-color: peachpuff;
}

.container {
    height: 800px;
    width: 800px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
}

 .square {
    background-color: white;
}


.buttons {
    display: flex;
    justify-content: center;
    gap: 30px;
}

button {
    margin-top: -5px;
    margin-bottom: 5px;
    background-color: white;
}

h2 {
    margin-top: -5px;
}