* {
    text-align: center;
    background-color: peachpuff;
}

.container {
    height: 800px;
    width: 800px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.square {
    background-color: white;
}

.colored {
    background-color: black;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 30px;
}

button {
    background-color: white;
    margin-top: -5px;
    margin-bottom: 5px;
}

h2 {
    margin-top: -5px;
}