* {
    text-align: center;
    background-color: peachpuff;
}

.container {
    height: 800px;
    width: 800px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.square {
    background-color: white;
}

.colored {
    background-color: black;
}